body {
    margin: 10;
    padding: 0;
    background-image: url('report.jpg');
}

.header {
    height: 100vh;
 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-seriff;
}

h1 {
    color: #fff;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
}

.TextBox1 {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.TextBox2 {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}
